<h1>Forget your password?</h1>

<%= form_with  url: password_reset_path do |form| %>

  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder: "example@test.com" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Rest Password", class: "btn btn-primary"%>
  </div>
<% end %>